#menu{
    background: cornflowerblue;
    border-radius: 20px;
    position: fixed;
    width: 35%;
}
#menu h1{
    color: cornsilk;
    font: 22px verdana;
    background:mediumblue;
    width: 50%;
    border-radius: 8px;
}
#menu h2{
    color: cornsilk;
    font: 22px verdana;
    background:mediumblue;
    width: 100%;
    text-align: center;
}
#menu ul {
    color: cornsilk;
    font: 14px verdana;
}


